*{
    margin: 0;
}

/* .container{
    background-color: red;
} */

/* border */

.container_1{
    background-color: aqua;
    height: 200px;
    margin: 10px;
    padding: 20px;
    /* border-width: 5px;
    border-color: red;
    border-style: solid; */
    border: 5px double gray;
    border-radius: 200px;
}

/* display properties */

/* inline, inline-block, block, flex, grid */

.display_container{
    /* display: inline-block;
    background-color: red;
    height: 100px; */


}

.flex_container{
    display: flex;
    gap: 5px;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    align-items: center;
}

.flex_container div{
    background-color: red;
    height: 50px;
    width: 50px;
}

/* positions */

/* relative, absolute, fixed, sticky */

.box{
    width: 40px;
    height: 40px;
    background-color: green;
    /* left: 300px;
    top: 300px;
    position: relative; */
    
}

.box_2{
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    top: 0;
}

.container{
    width: 300px;
    height: 300px;
    background-color: black;
    position: relative;
    margin-top: 100px;
}

.sticky_container{
    width: 20px;
    height: 20px;
    background-color: yellow;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 20px;
}

.d-flex{
    display: flex;
    gap: 2px;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
}

.d-flex div{
    width: 50px;
    height: 50px;
    background-color: red;
}

