header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
    gap: 35px;
    list-style: none;
}

.signup{
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.signup:hover{
    background-color: gray;
    color: white;
}